@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&family=Spectral+SC:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;0,900;1,800;1,900&family=Special+Elite&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:wght@600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Resets */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body,
html,
#loader {
  @apply text-type-100 bg-no-repeat md:h-full m-0 bg-fixed;
  background: rgb(46,115,185);
  background: linear-gradient(0deg, rgba(46,115,185,1) 0%, rgba(31,75,121,1) 41%, rgba(18,38,61,1) 100%);
  /* background: rgb(9,30,121);
background: radial-gradient(circle, rgba(9,30,121,1) 0%, rgba(2,0,36,1) 100%); */
}
html,
body,
#root {
  @apply h-full;
}
/* #root{
  @apply h-screen md:h-full 
} */

#bg-stake {
  @apply absolute bg-dataXstake bg-cover bg-bottom;
}

#bg-trade {
  @apply absolute bg-dataXtrade bg-cover bg-bottom;
}

#bg-home {
  @apply absolute bg-dataXcity bg-cover bg-bottom;
}

#root:empty,
html:empty {
  @apply hidden;
}

#loader {
  @apply flex flex-row h-full w-full justify-center  items-center bg-center bg-no-repeat bg-fixed bg-dataXgif sm:bg-sm md:bg-md;
}

#loadText {
  @apply animate-pulse;
}
/* Links */
.hm-link {
  @apply text-type-300 hover:text-type-50;
}

/* Buttons */
.hm-btn {
  @apply px-4 py-2 rounded;
}

.hm-btn.hm-btn-medium {
  @apply px-4 py-4 rounded;
}

.hm-btn.hm-btn-light {
  @apply bg-black bg-opacity-75 text-type-200 hover:bg-primary-800 hover:bg-opacity-75 transition-all duration-200;
}

.hm-loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

.logo {
  width: 8rem;
  height: 4rem;
}

.product {
  font-size: 1rem;
  font-weight: 200;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.lpGrad {
  background: rgb(19, 57, 91);
  background: linear-gradient(180deg, rgba(19, 57, 91, 1) 0%, rgba(19, 57, 91, 0) 100%);
}

.hm-box {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hm-hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hm-hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar-track {
  display: none;
}

.swap-center {
  left: 45%;
}

.text-shadow-bold {
  text-shadow: 3px 3px 4px black;
}

.text-shadow-light {
  text-shadow: 2px 2px 4px black;
}

.modalSelectBg {
  @apply bg-city-blue bg-opacity-30;
}

.homeButton {
  @apply border rounded bg-black bg-opacity-50 hover:border-black hover:bg-yellow hover:text-black transition-colors duration-200;
}

.modalButton {
  background-image: rgb(10, 69, 110);
  background-image: linear-gradient(90deg, rgba(10, 69, 110, 1) 0%, rgba(26, 38, 70, 1) 100%);
}

.modalButton:hover {
  background: rgb(49, 59, 101);
  background: linear-gradient(90deg, rgba(49, 59, 101, 1) 0%, rgba(58, 123, 191, 1) 100%);
}

.txButton {
  position: relative;
  background-image: rgb(10, 69, 110);
  background-image: linear-gradient(90deg, rgba(10, 69, 110, 1) 0%, rgba(26, 38, 70, 1) 100%);
  z-index: 1;
}

.txButton::before {
  border-radius: 0.5rem;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: rgb(49, 59, 101);
  background-image: linear-gradient(90deg, rgba(49, 59, 101, 1) 0%, rgba(58, 123, 191, 1) 100%);
  z-index: -1;
  transition: opacity 0.1s linear;
  opacity: 0;
}
.txButton:hover::before {
  opacity: 1;
}

.txButton:disabled::before {
  opacity: 0;
}

.txButton:disabled {
  cursor: not-allowed;
  background-color: black;
  opacity: 0.5;
}

.mobileBgPosition {
  background-position: bottom left 5%;
}
