@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Resets */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

body {
  @apply bg-gradient-to-l from-gray-800 via-gray-400 to-gray-800 text-type-100;
}

/* Links */
.hm-link {
  @apply text-type-300 hover:text-type-50;
}

/* Buttons */
.hm-btn {
  @apply px-4 py-2 rounded;
}

.hm-btn.hm-btn-medium {
  @apply px-4 py-4 rounded;
}

.hm-btn.hm-btn-light {
  @apply bg-primary-800 text-type-200 hover:bg-primary-700;
}

.hm-loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

.logo {
  width: 6rem;
  height: 3rem;
}

.product {
  font-size: 1.3rem;
  font-weight: 500;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.hm-box {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
