@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Resets */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


body, html {
@apply text-type-100 bg-no-repeat md:h-full m-0 bg-fixed;
background: rgb(128,140,171);
background: radial-gradient(circle, rgba(128,140,171,1) 0%, rgba(62,72,103,1) 54%, rgba(11,16,46,1) 100%);
}

#root{
  @apply h-screen md:h-full 
}

#root:empty, html:empty{
  @apply bg-center bg-no-repeat bg-fixed bg-dataXgif sm:bg-sm md:bg-md
}

/* Links */
.hm-link {
  @apply text-type-300 hover:text-type-50;
}

/* Buttons */
.hm-btn {
  @apply px-4 py-2 rounded;
}

.hm-btn.hm-btn-medium {
  @apply px-4 py-4 rounded;
}

.hm-btn.hm-btn-light {
  @apply bg-primary-800 text-type-200 hover:bg-primary-700;
}

.hm-loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

.logo {
  width: 8rem;
  height: 4rem;
}

.product {
  font-size: 1rem;
  font-weight: 200;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.hm-box {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hm-hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hm-hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.swap-center {
  left: 45%;
}
