@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&family=Spectral+SC:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;0,900;1,800;1,900&family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral+SC:wght@600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Resets */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:focus{
  @apply border-none
}

body,
html,
#loader {
  @apply text-gray-100 bg-no-repeat md:h-full m-0 bg-fixed;
  background: rgb(46, 115, 185);
  background: linear-gradient(0deg, rgba(46, 115, 185, 1) 0%, rgba(31, 75, 121, 1) 41%, rgba(18, 38, 61, 1) 100%);
}

html,
body,
#root {
  @apply h-full;
}

#root:empty,
html:empty {
  @apply hidden;
}

#loader {
  @apply flex flex-row h-full w-full justify-center  items-center bg-center bg-no-repeat bg-fixed bg-dataXgif sm:bg-sm md:bg-md;
}

#loadText {
  @apply animate-pulse;
}

.center {
  @apply top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.btn-dark {
  @apply py-1 px-3 bg-black text-white bg-opacity-50 hover:bg-opacity-10 hover:bg-white  border-gray-500 border-[.5px];
  @apply transition-all duration-200;
}

.btn-sm {
  padding: 0.025rem 0.5rem !important;
}

.btn-dark:disabled {
  @apply text-gray-600 hover:bg-black hover:bg-opacity-50 cursor-not-allowed;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.lpGrad {
  background: rgb(19, 57, 91);
  background: linear-gradient(180deg, rgba(19, 57, 91, 1) 0%, rgba(19, 57, 91, 0) 100%);
}

.hm-box {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hm-hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hm-hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar-track {
  display: none;
}

.swap-center {
  left: 45%;
}

.text-shadow-bold {
  text-shadow: 3px 3px 4px black;
}

.text-shadow-light {
  text-shadow: 2px 2px 4px black;
}

.modalSelectBg {
  @apply bg-city-blue bg-opacity-30;
}

.homeButton {
  @apply border rounded bg-black bg-opacity-50 hover:border-black hover:bg-yellow hover:text-black transition-colors duration-200;
}

.modalButton {
  background-image: rgb(10, 69, 110);
  background-image: linear-gradient(90deg, rgba(10, 69, 110, 1) 0%, rgba(26, 38, 70, 1) 100%);
}

.modalButton:hover {
  background: rgb(49, 59, 101);
  background: linear-gradient(90deg, rgba(49, 59, 101, 1) 0%, rgba(58, 123, 191, 1) 100%);
}

.txButton {
  @apply p-2 rounded-lg w-full relative;
  background-image: rgb(10, 69, 110);
  background-image: linear-gradient(90deg, rgba(10, 69, 110, 1) 0%, rgba(26, 38, 70, 1) 100%);
  z-index: 1;
}

.txButton::before {
  @apply absolute top-0 right-0 bottom-0 left-0 opacity-0 rounded-lg;
  content: "";
  background-image: rgb(49, 59, 101);
  background-image: linear-gradient(90deg, rgba(49, 59, 101, 1) 0%, rgba(58, 123, 191, 1) 100%);
  z-index: -1;
  transition: opacity 0.1s linear;
}
.txButton:hover::before {
  @apply opacity-100;
}

.txButton:disabled::before {
  @apply opacity-0;
}

.txButton:disabled {
  @apply cursor-not-allowed bg-black opacity-50;
}

.mobileBgPosition {
  background-position: bottom left 5%;
}
